{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "CloudinarySettings": {
    "CloudName": "",
    "ApiKey": "",
    "ApiSecret": ""
  },
  "ConnectionStrings": {
    "DefaultConnection": "Data source=social_dating.db"
  },
  "TokenKey": "super secret key"
}
